<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Details</title>
</head>

<body>
    <h1>Appointment Details</h1>
    <ul>
        <li>Appointment ID: {{ appointment.apptid }}</li>
        <li>Patient ID: {{ appointment.pxid }}</li>
        <li>Doctor ID: {{ appointment.doctorid }}</li>
        <li>Clinic ID: {{ appointment.clinicid }}</li>
        <li>Status: {{ appointment.status }}</li>
        <li>Time Queued: {{ appointment.timeQueued }}</li>
        <li>Queue Date: {{ appointment.queueDate }}</li>
        <li>Type: {{ appointment.type }}</li>
        <li>City: {{ appointment.city }}</li>
        <li>Province: {{ appointment.province }}</li>
        <li>Region: {{ appointment.regionName }}</li>
        <li>Main Speciality: {{ appointment.doctorMainSpeciality }}</li>
        <li>Doctor Age: {{ appointment.doctorAge }}</li>
        <li>Patient Age: {{ appointment.pxAge }}</li>
        <li>Patient Gender: {{ appointment.pxGender }}</li>
        <li>Virtual: {{ appointment.virtual }}</li>
    </ul>
    <!-- Add button to navigate to update page -->
    <form action="/update/{{ appointment.apptid }}" method="GET">
        <button type="submit">Update Appointment</button>
    </form>
</body>

</html>